!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title RSS Reader #{@title}
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}

    = csrf_meta_tag
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.simplemodal.1.4.1.min'

    = render 'layouts/stylesheets'
  %body
    #header
      .container
        = render 'layouts/header'
    %section
      .container
        %div{ :class => 'left-container round' }
          = yield :left_bar
        %div{ :class => 'right-container round' }
          = yield
        .reset
    .container
      = render 'layouts/footer'
